<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deep Learning</title>
    {{ bootstrap.load_css() }}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Deep Learning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/deeplearningunb/TrafficSigns">GitHub</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="jumbotron" style="text-align: center;">
            <h4 class="display-5">Para começar, seleciona a imagem de uma placa de trânsito </h4>
            <p class="lead">Os formatos suportados são  png, jpg e jpeg</p>
            <form action="upload_file" method="post" enctype="multipart/form-data">
                <label class="btn btn-dark mt-2">
                    Selecionar arquivo <input type="file" name="file" hidden>
                </label>                
                <button class="btn btn-success" type="submit">Analisar</button>
            </form>
        </div>

        {% if result is defined %}
        <div id="result" style="text-align: center;">
            <h3>{{result}}</h3>
            <img style="max-width: 400px;" src="{{url_for('static', filename='uploaded_images/'+filename)}}" />
        </div>
        {% endif %}
    
        {{ bootstrap.load_js() }}

    </div>


</body>

</html>